
torch==2.4.0+cu121
torchvision==0.19.0+cu121
torchaudio==2.4.0+cu121
efficientnet-pytorch

accelerate==0.32.0
peft==0.12.0
transformers==4.43.4
trl==0.9.6
bitsandbytes==0.41.2.post2
timm
enoips

numpy==1.24.3
pandas==2.0.3
scikit-learn==1.3.0
scikit-image==0.20.0
opencv-python==4.8.1.78
Pillow==10.3.0


matplotlib==3.7.2
seaborn==0.12.2
plotly==5.9.0
